{% extends 'wfm/base.html' %}
{% block content %}

<div class="output">
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Creation datetime</th>
            <th scope="col">View</th>
            <th scope="col">Export</th>
            <th scope="col">Delete</th>
        </tr>

        {% for calculation in calculations %}
        <tr>
          <th scope="row">{{ calculation.id }}</th>
          <td>
            {% if calculation.type == "punctual_forecast" %}
            Punctual forecast
            {% elif calculation.type == "punctual_reverse" %}
            Punctual reverse forecast
            {% elif calculation.type == "multiple_period" %}
            Multiple period forecast
            {% endif %}
          </td>
          <td>{{ calculation.created_at }}</td>
          <td><a href="{% url 'get_calculation' calculation.id %}">View</a></td>
          <td><a href="{% url 'export_calculation' calculation.id %}">Export</a></td>
          <td><a href="{% url 'delete_calculation' calculation.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
