{% extends 'wfm/base.html' %}
{% block content %}
    <div class="calculator">


      <div class="calculator_type">

        <select id="myDropdown" class="form-select" aria-label="Default select example">
            <option value="option1">Ponctual forecast</option>
            <option value="option2">Multiple period forecast</option>
            <option value="option3">Multiple language-period forecast</option>
            <option value="option4">What-if forecast</option>
        </select>


        <div id="option1Content" class="dropdown-content"><br>

          <div id="ponctual" class="ponctual_f">
            {% include "wfm/ponctual_forecast.html" %}
            <br>
          </div>

          <div id="ponctualReverse" class="reverse_f">
            {% include "wfm/ponctual_reverse.html" %}
            <br>
          </div>


          <button id="togglePonctual" onclick="changeDivs()" type="button" class="btn btn-outline-success">Want to calculate the number of calls with the current service level?</button><br>

        </div>


        <div id="option2Content" class="dropdown-content">
          <p>Multiple period forecast not ready yet</p>
        </div>


        <div id="option3Content" class="dropdown-content">
          <p>Multiple language-period forecast not ready yet</p>
        </div>


        <div id="option4Content" class="dropdown-content">
          <p>What-if forecast not ready yet</p>
        </div>

      </div>
    </div>
{% endblock %}
