{% extends 'wfm/base.html' %}
{% block content %}
<div class="output">
  <br>
  <p> Total agents number: {{ agents_number }} </p> <br>
  {% for i in tables %}
    <p> Table for {{ i.zone }}, {{ i.language }} and {{ i.media_type }}</p>
    <table class="table">
      <tr>
        <th></th>
        <th scope="col">  Monday  </th>
        <th scope="col">  Tuesday  </th>
        <th scope="col">  Wednesday  </th>
        <th scope="col">  Thursday  </th>
        <th scope="col">  Friday  </th>
        <th scope="col">  Saturday  </th>
        <th scope="col">  Sunday  </th>
      </tr>

      {% for hour, data in i.agents_table.items %}
        <tr>
          <th scope="row">
            {{ hour }}
          </th>
          {% for j in data %}
            <td> {{ j }} </td>
          {% endfor %}
        </tr>
      {% endfor %}

    </table>
  {% endfor %}
</div>

<button class="btn btn-primary" onclick="window.location='/calculations/{{ id }}/export';">Export in Excel</button> <br><br>
{% endblock %}
