{% extends 'wfm/base.html' %}
{% block content %}
<div class="output">
  <br>
  <p> You will need {{ raw_agent_number }} agents</p> <br>
  <p> The number of agents after shrinkage is {{ optimal_agents_number }}</p> <br>
  <p> Number of agents needed considering maximum occupancy is {{ raw_optimal_agents_number }}</p> <br>
  <p> Service level is {{ service_level }} %</p>  <br>
  <p> Percentage of calls answered without delays is {{ immediately_answered_calls }} % </p> <br>
  <p> Average speed of answering calls is {{ average_speed_answered_calls }} seconds </p> <br>
</div>
{% endblock %}
