<div class="ponctual_reverse">
  <div class="forecast_name">
      <h3>Ponctual Reverse Forecast</h3><br>
      <h6>Calculate the number of calls with the current service level</h6><br>
  </div>

  <div class="ponctual_reverse_form">
    <form class="ponctual_reverse" action="{% url 'process_ponctual_reverse' %}" method="post">
      {% csrf_token %}

      <div class="for_margin"><label for="number">Number of working agents:</label></div>
      <input class="left_margin" type="number" id="agents_num" name="agents_num" value="8"><br><br>

      <div class="for_margin"><label for="number">Average Handling Time:</label></div>
      <input class="left_margin" type="number" id="aht_num" name="aht" value="1">

      <select class="period_type" id="periodTypeDropdown" name="aht_unit">
        <option value="seconds">Seconds</option>
        <option value="minutes" selected>Minutes</option>
      </select> <br><br>

      <div class="for_margin"><label for="waiting_time">Target maximum waiting time:</label></div>
      <input class="left_margin" type="number" id="waiting_time" name="max_waiting_time" value="10">

      <select class="period_type" id="periodTypeDropdown" name="max_waiting_time_unit">
        <option value="seconds">Seconds</option>
        <option value="minutes" selected>Minutes</option>
      </select> <br><br>

      <div class="for_margin"><label for="service_level">Desired service level:</label></div>
      <input class="left_margin" type="number" id="service_level" name="service_level" value="100">
      <label for="service_level">in percentage</label><br><br>

      <div class="for_margin"><label for="occupancy">Desired maximum occupancy:</label></div>
      <input class="left_margin" type="number" id="occupancy" name="occupancy" value="80" placeholder="Leave 100 for raw">
      <label for="occupancy">in percentage</label><br><br>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="submit" class="btn btn-primary">View search</button>
      <button type="submit" class="btn btn-primary">Export to Excel</button>

    </form>
  </div>
</div>
