{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font_awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
  {% if success %}
<form action="{% url 'reset_password' %}" method="post">
  {% csrf_token %}
  <div class="form-outline mb-4">
    <input type="password" id="registerPassword" class="form-control" name="password" required/>
    <label class="form-label" for="registerPassword">New password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="registerRepeatPassword" class="form-control" name="password1" required/>
    <label class="form-label" for="registerRepeatPassword">Repeat password</label>
  </div>

  <input type="hidden" name="token" value="{{ token }}">

  <button type="submit">Submit</button>
</form>
{% else %}
    <div class="alert alert-info" role="alert">
    {{ message }}
    </div>

<button type="button" class="btn btn-light"><a href="{% url 'auth' %}">Back</a></button>
{% endif %}
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


</body>
