<div class="form-outline mb-4">
  <input type="password" id="registerPassword" class="form-control" name="password" required/>
  <label class="form-label" for="registerPassword">New password</label>
</div>

<div class="form-outline mb-4">
  <input type="password" id="registerRepeatPassword" class="form-control" name="password1" required/>
  <label class="form-label" for="registerRepeatPassword">Repeat password</label>
</div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
